$size: 150px;
//#f21550 #421d27

html, body{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto';
  font-size: 12px;
}

.calendar{
  width: ( $size + 1 ) * 7;
  margin: 30px auto 150px auto;
}

.month{
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 20px;
}

.day-header{
  width: $size;
  height: $size/4;
  float: left;
  text-align: center;
  border-right: 1px solid transparent;
}

.day{
  height: $size;
  width: $size;
  float: left;
  position:relative;
  border: 1px solid #dddde8;
  margin: 0 -1px -1px 0;
  cursor: pointer;
  background: #F6F1FF;
}

.null{
  float: left;
  cursor: default !important;
  border-color: transparent;
  background:transparent;
}

p{
  margin: 3px;
}

.fas, .far{
  cursor: pointer;
}

.fas:hover{
  color: red;
}

.fa-trash{
  margin-right: 10px;
}


/*///////////////////////////*/
.popup {
  width: 200px;
  padding: 5px;
  position:absolute;
  top: 20px;
  left: 0;
  background:white;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0px rgba(0,0,0,.3);
  display:none;
  color:black;
}

.event:hover .popup{
  display:block;
}

.event{
  margin: 2px 1px;
  border-radius: 2px;
  z-index: 1;
  position:relative;
  height: 20px;
  line-height: 20px;
  padding: 0 3px;
  box-sizing: border-box;
  color:white;
  box-shadow: 0 5px 10px 0px rgba(0,0,0,.3);
  background: rgba(255,0,0,1);

  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.spacer{
  box-shadow:none;
}

.event-detail{
  background: white;
  max-width: 300px;
  //max-height:500px;
  //background: white;
  box-shadow: 0 5px 10px 0px rgba(0,0,0,.3);
  border-radius:2px;
  overflow:hidden;
}

.event-detail-title{
  background:navy;
  font-size: 20px;
  color:white;
  padding: 10px;
  text-align:center;
  text-transform: capitalize;
}

.event-detail-body, .event-detail-dates{
  margin: 15px 15px;
}
