$size: 100px;


html, body{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto';
  font-size: 12px;
}

.calendar{
  width: ( $size + 1 ) * 7;
  margin: 10px auto;
}

.month{
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
}

.day-header{
  width: $size;
  height: $size/4;
  float: left;
  text-align: center;
  border-right: 1px solid transparent;
}

.day{
  height: $size;
  width: $size;
  float: left;
  border: 1px solid black;
  margin: 0 -1px -1px 0;
  cursor: pointer;
}

.null{
  float: left;
  cursor: default;
  border-color: transparent;
}

p{
  margin: 3px;
}

.fas{
  cursor: pointer;
}
